node_modules
ngrok.yml

# dev is the development folder
dev

# Environment variables
.env
src/config/env-dev.json
auth0ClientPublicKey-dev.pem

# Effects of the refactoring
tests/secondaryAdapters/db/mongoserver/**
backend/config/**
.eslintcache

# test
tests/coverage